@font-face {
  font-family: DXpoet;
  src: url(../font/DX_POET.ttf) format("truetype");
}

html {
  background-color: #000;
}

body {
  height: 100lvh;
  width: 100lvw;
  margin: 0 auto;
  background-image: url("../img/soil_background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.none {
  display: none;
}

#logo_area {
  position: relative;
  top: 5%;
  max-width: 100vw;
  min-height: fit-content;
}

#logo_area img {
  position: absolute;
  min-width: 1vw;
  left: 50%;
  transform: translate(-50%, -50%);
}

#form_container {
  position: relative;
  top: 15%;
  min-height: 70vh;
  max-width: 100vw;
  background-color: rgba(255, 228, 196, 0.3);
}

#sentences_form {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#sentences_form h1 {
  font-family: DXpoet;
  font-size: 50px;
  color: #fff;
}

#sentences_form [type="radio"]{
  vertical-align: middle;
  appearance: none;
  border: 4px solid darkgray;
  border-radius: 50%;
  width: 4em;
  height: 4em;
}

#sentences_form label {
  font-size: 20px;
  font-weight: bold;
  line-height: 3rem;
  padding: 0.2em 0.4em;
}

#sentences_form [type="radio"], span {
  vertical-align: middle;
}

#sentences_form [type="radio"]:checked {
  border: 4px solid darkgray;
  background-color: #2a7745;
}

#sentences_form [type="radio"]:focus-visible {
  outline-offset: max(2px, 0.1em);
  outline: max(2px, 0.1em) dotted rgba(126, 194, 155, .7);
}

#sentences_form [type="radio"]:hover {
  box-shadow: 0 0 0 3px lightgray;
  cursor: pointer;
}

#sentences_form [type="radio"]:hover + span {
  cursor: pointer;
}

#sentences_form [type="radio"]:disabled {
  background-color: lightgray;
  box-shadow: none;
  opacity: 0.7;
  cursor: not-allowed;
}

#sentences_form [type="radio"]:disabled + span {
  opacity: 0.7;
  cursor: not-allowed;
}


#name_container {
  position: relative;
  top: 15%;
  min-height: 70vh;
  max-width: 100vw;
  background-color: rgba(255, 228, 196, 0.3);
}

#name_form {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-60%, -50%);
}

#name_form h1 {
  font-size: 50px;
  color: #fff;
}



#difficult_container {
  position: relative;
  top: 15%;
  min-height: 70vh;
  max-width: 100vw;
  background-color: rgba(255, 228, 196, 0.3);
}

#difficult_form {
  position: absolute;
  left: 45%;
  top: 50%;
  transform: translate(-42%, -50%);
}

#difficult_form h1 {
  font-size: 50px;
  color: #fff;
}

#difficult_form [type="radio"]{
  vertical-align: middle;
  appearance: none;
  border: 4px solid darkgray;
  border-radius: 50%;
  width: 3.5em;
  height: 3.5em;
}

#difficult_form label {
  font-size: 20px;
  font-weight: bold;
  line-height: 3rem;
  padding: 0.2em 0.4em;
}

#difficult_form [type="radio"], span {
  vertical-align: middle;
}

#difficult_form [type="radio"]:checked {
  border: 4px solid darkgray;
  background-color: #2a7745;
}

#difficult_form [type="radio"]:focus-visible {
  outline-offset: max(2px, 0.1em);
  outline: max(2px, 0.1em) dotted rgba(126, 194, 155, .7);
}

#difficult_form [type="radio"]:hover {
  box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
  cursor: pointer;
}

#difficult_form [type="radio"]:hover + span {
  cursor: pointer;
}

#difficult_form [type="radio"]:disabled {
  background-color: lightgray;
  box-shadow: none;
  opacity: 0.7;
  cursor: not-allowed;
}

#difficult_form [type="radio"]:disabled + span {
  opacity: 0.7;
  cursor: not-allowed;
}


#fruit_num1 {
  position: relative;
  top: 15%;
  min-height: 70vh;
  max-width: 100vw;
  background-color: rgba(255, 228, 196, 0.3);
}

#fruit_question1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#fruit_question1 h2 {
  font-size: 40px;
  color: #fff;
}

#fruit_num2 {
  position: relative;
  top: 15%;
  min-height: 70vh;
  max-width: 100vw;
  background-color: rgba(255, 228, 196, 0.3);
}

#fruit_question2 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#fruit_question2 h2 {
  font-size: 40px;
  color: #fff;
}

#fruit_num3 {
  position: relative;
  top: 15%;
  min-height: 70vh;
  max-width: 100vw;
  background-color: rgba(255, 228, 196, 0.3);
}

#fruit_question3 {
  position: absolute;
  left: 45%;
  top: 50%;
  transform: translate(-40%, -50%);
}

#fruit_question3 h2 {
  font-size: 40px;
  color: #fff;
}

#fruit_num4 {
  position: relative;
  top: 15%;
  min-height: 70vh;
  max-width: 100vw;
  background-color: rgba(255, 228, 196, 0.3);
}

#fruit_question4 {
  position: absolute;
  left: 37%;
  top: 50%;
  transform: translate(-30%, -50%);
}

#fruit_question4 h2 {
  font-size: 40px;
  color: #fff;
}

#fruit_num5 {
  position: relative;
  top: 15%;
  min-height: 70vh;
  max-width: 100vw;
  background-color: rgba(255, 228, 196, 0.3);
}

#fruit_question5 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#fruit_question5 h2 {
  font-size: 40px;
  color: #fff;
}

#fruit_num6 {
  position: relative;
  top: 15%;
  min-height: 70vh;
  max-width: 100vw;
  background-color: rgba(255, 228, 196, 0.3);
}

#fruit_question6 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#fruit_question6 h2 {
  font-size: 40px;
  color: #fff;
}


#manager_num1 {
  position: relative;
  top: 15%;
  min-height: 70vh;
  max-width: 100vw;
  background-color: rgba(255, 228, 196, 0.3);
}

#manager_question1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#manager_question1 h2 {
  font-size: 40px;
  color: #fff;
}

#manager_num2 {
  position: relative;
  top: 15%;
  min-height: 70vh;
  max-width: 100vw;
  background-color: rgba(255, 228, 196, 0.3);
}

#manager_question2 {
  position: absolute;
  left: 45%;
  top: 50%;
  transform: translate(-40%, -50%);
}

#manager_question2 h2 {
  font-size: 40px;
  color: #fff;
}

#manager_num3 {
  position: relative;
  top: 15%;
  min-height: 70vh;
  max-width: 100vw;
  background-color: rgba(255, 228, 196, 0.3);
}

#manager_question3 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#manager_question3 h2 {
  font-size: 40px;
  color: #fff;
}

#manager_num4 {
  position: relative;
  top: 15%;
  min-height: 70vh;
  max-width: 100vw;
  background-color: rgba(255, 228, 196, 0.3);
}

#manager_question4 {
  position: absolute;
  left: 30%;
  top: 50%;
  transform: translate(-18%, -50%);
}

#manager_question4 h2 {
  font-size: 40px;
  color: #fff;
}


#family_num1 {
  position: relative;
  top: 15%;
  min-height: 70vh;
  max-width: 100vw;
  background-color: rgba(255, 228, 196, 0.3);
}

#family_question1 {
  position: absolute;
  left: 40%;
  top: 50%;
  transform: translate(-32%, -50%);
}

#family_question1 h2 {
  font-size: 40px;
  color: #fff;
}

#family_question1 [type="radio"]{
  vertical-align: middle;
  appearance: none;
  border: 4px solid darkgray;
  border-radius: 50%;
  width: 3.5em;
  height: 3.5em;
}

#family_question1 label {
  font-size: 20px;
  font-weight: bold;
  line-height: 3rem;
  padding: 0.2em 0.4em;
}

#family_question1 [type="radio"], span {
  vertical-align: middle;
}

#family_question1 [type="radio"]:checked {
  border: 4px solid darkgray;
  background-color: #2a7745;
}

#family_question1 [type="radio"]:focus-visible {
  outline-offset: max(2px, 0.1em);
  outline: max(2px, 0.1em) dotted rgba(126, 194, 155, .7);
}

#family_question1 [type="radio"]:hover {
  box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
  cursor: pointer;
}

#family_question1 [type="radio"]:hover + span {
  cursor: pointer;
}

#family_question1 [type="radio"]:disabled {
  background-color: lightgray;
  box-shadow: none;
  opacity: 0.7;
  cursor: not-allowed;
}

#family_question1 [type="radio"]:disabled + span {
  opacity: 0.7;
  cursor: not-allowed;
}

#family_num2 {
  position: relative;
  top: 15%;
  min-height: 70vh;
  max-width: 100vw;
  background-color: rgba(255, 228, 196, 0.3);
}

#family_question2 {
  position: absolute;
  left: 40%;
  top: 50%;
  transform: translate(-32%, -50%);
}

#family_question2 h2 {
  font-size: 40px;
  color: #fff;
}

#family_question2 [type="radio"]{
  vertical-align: middle;
  appearance: none;
  border: 4px solid darkgray;
  border-radius: 50%;
  width: 3.5em;
  height: 3.5em;
}

#family_question2 label {
  font-size: 20px;
  font-weight: bold;
  line-height: 3rem;
  padding: 0.2em 0.4em;
}

#family_question2 [type="radio"], span {
  vertical-align: middle;
}

#family_question2 [type="radio"]:checked {
  border: 4px solid darkgray;
  background-color: #2a7745;
}

#family_question2 [type="radio"]:focus-visible {
  outline-offset: max(2px, 0.1em);
  outline: max(2px, 0.1em) dotted rgba(126, 194, 155, .7);
}

#family_question2 [type="radio"]:hover {
  box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
  cursor: pointer;
}

#family_question2 [type="radio"]:hover + span {
  cursor: pointer;
}

#family_question2 [type="radio"]:disabled {
  background-color: lightgray;
  box-shadow: none;
  opacity: 0.7;
  cursor: not-allowed;
}

#family_question2 [type="radio"]:disabled + span {
  opacity: 0.7;
  cursor: not-allowed;
}

#family_num3 {
  position: relative;
  top: 15%;
  min-height: 70vh;
  max-width: 100vw;
  background-color: rgba(255, 228, 196, 0.3);
}

#family_question3 {
  position: absolute;
  left: 45%;
  top: 50%;
  transform: translate(-40%, -50%);
}

#family_question3 h2 {
  font-size: 40px;
  color: #fff;
}

#family_num4 {
  position: relative;
  top: 15%;
  min-height: 70vh;
  max-width: 100vw;
  background-color: rgba(255, 228, 196, 0.3);
}

#family_question4 {
  position: absolute;
  left: 35%;
  top: 50%;
  transform: translate(-25%, -50%);
}

#family_question4 h2 {
  font-size: 40px;
  color: #fff;
}

#family_num5 {
  position: relative;
  top: 15%;
  min-height: 70vh;
  max-width: 100vw;
  background-color: rgba(255, 228, 196, 0.3);
}

#family_question5 {
  position: absolute;
  left: 40%;
  top: 50%;
  transform: translate(-30%, -50%);
}

#family_question5 h2 {
  font-size: 40px;
  color: #fff;
}


#letter {
  position: relative;
  top: 15%;
  min-height: 70vh;
  max-width: 100vw;
  background-color: rgba(255, 228, 196, 0.3);
}

#letter_alert {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#letter_alert h1 {
  font-size: 40px;
  color: #fff;
}


#loader {
  width: 60px;
  height: 60px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #7bd5ab;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

#load_msg_box {
  display: grid;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

#loader_text {
}

#load_msg {
  position: absolute;
  top: 80%;
  left: 44%;
}


#letter_from_god {
  background-image: url("../img/fianl_result1.jpg");
  background-size: cover;
  background-repeat: round;
}

/*input text box*/
input {
  width: 100%;
  padding: 10px 20px;
  margin: 5px 0;
  box-sizing: border-box;
}

input[type="text"] {
  border: solid 2px #FFE4B5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type="text"]:focus {
  border: solid 2px #D2691E;
}

/* 3D Button */
.btn-3d {
  position: relative;
  display: inline-block;
  font-size: 30px;
  font-weight: bolder;
  padding: 20px 60px;
  color: white;
  margin: 20px 10px 10px;
  border-radius: 6px;
  text-align: center;
  transition: top .01s linear;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  left: 38%;
}

.btn-3d.green:hover {
  background-color: #2a7745;
}

.btn-3d.yellow:hover {
  background-color: #F0D264;
}

.btn-3d.cyan:hover {
  background-color: #82D1E3;
}

.btn-3d:active {
  top: 9px;
}

/* 3D button colors */
.btn-3d.green {
  background-color: #82c8a0;
  box-shadow: 0 0 0 1px #82c8a0 inset,
    0 0 0 2px rgba(255, 255, 255, 0.15) inset,
    0 8px 0 0 rgba(126, 194, 155, .7),
    0 8px 0 1px rgba(0, 0, 0, .4),
    0 8px 8px 1px rgba(0, 0, 0, 0.5);
}

.btn-3d.green:active {
  box-shadow: 0 0 0 1px #82c8a0 inset,
    0 0 0 2px rgba(255, 255, 255, 0.15) inset,
    0 0 0 1px rgba(0, 0, 0, 0.4);
}

.btn-3d.cyan {
  background-color: #7fccde;
  box-shadow: 0 0 0 1px #7fccde inset,
    0 0 0 2px rgba(255, 255, 255, 0.15) inset,
    0 8px 0 0 rgba(102, 164, 178, .6),
    0 8px 0 1px rgba(0, 0, 0, .4),
    0 8px 8px 1px rgba(0, 0, 0, 0.5);
}

.btn-3d.cyan:active {
  box-shadow: 0 0 0 1px #7fccde inset,
    0 0 0 2px rgba(255, 255, 255, 0.15) inset,
    0 0 0 1px rgba(0, 0, 0, 0.4);
}

.btn-3d.yellow {
  background-color: #F0D264;
  box-shadow: 0 0 0 1px #F0D264 inset,
    0 0 0 2px rgba(255, 255, 255, 0.15) inset,
    0 8px 0 0 rgba(196, 172, 83, .7),
    0 8px 0 1px rgba(0, 0, 0, .4),
    0 8px 8px 1px rgba(0, 0, 0, 0.5);
}

.btn-3d.yellow:active {
  box-shadow: 0 0 0 1px #F0D264 inset,
    0 0 0 2px rgba(255, 255, 255, 0.15) inset,
    0 0 0 1px rgba(0, 0, 0, 0.4);
}

/* game page */
#game_container {
  min-height: 100vh;
  max-width: 100vw;
  margin: 0 auto;
  background-image: url("../img/soil_background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#game_container #text1 {
  position: absolute;
  top: 85%;
  left: 10%;
  padding : 1em;
  min-width: fit-content;
  min-height: fit-content;
  font-size: 32px;
  border-radius: 15px;
  background-color: rgba(202, 202, 202, 0.726);
  color: #412200;
}

#game_container #text2 {
  position: absolute;
  top: 10%;
  left: 70%;
  padding : 1em;
  min-width: fit-content;
  min-height: fit-content;
  font-size: 32px;
  border-radius: 15px;
  background-color: rgba(202, 202, 202, 0.726);
  color: #412200;
}

#game_container #text3 {
  position: absolute;
  top: 90%;
  left: 60%;
  padding : 1em;
  min-width: fit-content;
  min-height: fit-content;
  font-size: 32px;
  border-radius: 15px;
  background-color: rgba(202, 202, 202, 0.726);
  color: #412200;
}

#game_container #text4 {
  position: absolute;
  top: 10%;
  left: 10%;
  padding : 1em;
  min-width: fit-content;
  min-height: fit-content;
  font-size: 32px;
  border-radius: 15px;
  background-color: rgba(202, 202, 202, 0.726);
  color: #412200;
}

#end_page {
  min-height: 100vh;
  max-width: 100vw;
  margin: 0 auto;
  background-image: url("../img/end_page.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/* video background */
#background-video {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  z-index: -1;
  background: url(../img/soil_background.png) no-repeat;
  background-size: cover;
}

