.hahmlet {
  font-family: "Hahmlet";
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

html {
  background-color: #000;
}

body {
  height: 100lvh;
  width: 100lvw;
  margin: 0 auto;
}

.none {
  display: none;
}

#gender_container {
  position: relative;
  background-image: url("../img/letter_image.jpg");
  background-position: center center;
  height: 100lvh;
  width: 100lvw;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}

#gender_form {
  position: absolute;
  left: 48%;
  top: 65%;
  transform: translate(-50%, -50%);
}

#gender_form [type="radio"]{
  vertical-align: middle;
  appearance: none;
  top: 120px;
  background-color: #728d67;
  border-radius: 50%;
  width: 3em;
  height: 3em;
}

#gender_form label {
  font-family: "Hahmlet";
  font-size: 20px;
  line-height: 3rem;
  padding: 0.2em 0.4em;
}

#gender_form [type="radio"], span {
  vertical-align: middle;
}

#gender_form [type="radio"]:checked {
  background-image: url(../img/check2.png);
  background-size: cover;
}

#gender_form [type="radio"]:focus-visible {
  outline-offset: max(2px, 0.1em);
  outline: max(2px, 0.1em) dotted rgba(126, 194, 155, .7);
}

#gender_form [type="radio"]:hover {
  box-shadow: 0 0 0 3px lightgray;
  cursor: pointer;
}

#gender_form [type="radio"]:hover + span {
  cursor: pointer;
}

#gender_form [type="radio"]:disabled {
  background-color: lightgray;
  box-shadow: none;
  opacity: 0.7;
  cursor: not-allowed;
}

#gender_form [type="radio"]:disabled + span {
  opacity: 0.7;
  cursor: not-allowed;
}

#start_btn1 {
  position: absolute;
  bottom: 5%;
  right: 5%;
  color: #2a7745;
}



#difficult_container {
  position: relative;
  background-image: url("../img/difficult_thing.jpg");
  background-position: center center;
  height: 100lvh;
  width: 100lvw;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}

#difficult_form {
  position: absolute;
  left: 50%;
  top: 68%;
  transform: translate(-50%, -50%);
}

#difficult_form [type="radio"]{
  vertical-align: middle;
  appearance: none;
  background-color: #728d67;
  border-radius: 50%;
  width: 3.5em;
  height: 3.5em;
}

#difficult_form label {
  font-family: "Hahmlet";
  font-size: 20px;
  line-height: 3rem;
  padding: 0.2em 0.4em;
}

#difficult_form [type="radio"], span {
  vertical-align: middle;
}

#difficult_form [type="radio"]:checked {
  background-image: url(../img/check2.png);
  background-size: cover;
}

#difficult_form [type="radio"]:focus-visible {
  outline-offset: max(2px, 0.1em);
  outline: max(2px, 0.1em) dotted rgba(126, 194, 155, .7);
}

#difficult_form [type="radio"]:hover {
  box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
  cursor: pointer;
}

#difficult_form [type="radio"]:hover + span {
  cursor: pointer;
}

#difficult_form [type="radio"]:disabled {
  background-color: lightgray;
  box-shadow: none;
  opacity: 0.7;
  cursor: not-allowed;
}

#difficult_form [type="radio"]:disabled + span {
  opacity: 0.7;
  cursor: not-allowed;
}

#start_btn2 {
  position: absolute;
  bottom: 5%;
  right: 5%;
  color: #2a7745;
}



#fruit_num1 {
  position: relative;
  background-image: url("../img/fruit_background-03.jpg");
  background-position: center center;
  height: 100lvh;
  width: 100lvw;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}

#fruit_question1 {
  position: absolute;
  left: 50%;
  top: 62%;
  transform: translate(-50%, -50%);
}

#fruit_btn1 {
  position: absolute;
  bottom: 5%;
  right: 5%;
  color: #2a7745;
}

#fruit_num2 {
  position: relative;
  background-image: url("../img/fruit_background-04.jpg");
  background-position: center center;
  height: 100lvh;
  width: 100lvw;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}

#fruit_question2 {
  position: absolute;
  left: 50%;
  top: 62%;
  transform: translate(-50%, -50%);
}

#fruit_btn2 {
  position: absolute;
  bottom: 5%;
  right: 5%;
  color: #2a7745;
}

#fruit_num3 {
  position: relative;
  background-image: url("../img/fruit_background-05.jpg");
  background-position: center center;
  height: 100lvh;
  width: 100lvw;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}

#fruit_question3 {
  position: absolute;
  left: 50%;
  top: 62%;
  transform: translate(-50%, -50%);
}

#fruit_btn3 {
  position: absolute;
  bottom: 5%;
  right: 5%;
  color: #2a7745;
}

#fruit_num4 {
  position: relative;
  background-image: url("../img/fruit_background-06.jpg");
  background-position: center center;
  height: 100lvh;
  width: 100lvw;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}

#fruit_question4 {
  position: absolute;
  left: 50%;
  top: 62%;
  transform: translate(-50%, -50%);
}

#fruit_btn4 {
  position: absolute;
  bottom: 5%;
  right: 5%;
  color: #2a7745;
}

#fruit_num5 {
  position: relative;
  background-image: url("../img/fruit_background-07.jpg");
  background-position: center center;
  height: 100lvh;
  width: 100lvw;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}

#fruit_question5 {
  position: absolute;
  left: 50%;
  top: 62%;
  transform: translate(-50%, -50%);
}

#fruit_btn5 {
  position: absolute;
  bottom: 5%;
  right: 5%;
  color: #2a7745;
}


#manager_num1 {
  position: relative;
  background-image: url("../img/manager_background-03.jpg");
  background-position: center center;
  height: 100lvh;
  width: 100lvw;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}

#manager_question1 {
  position: absolute;
  left: 50%;
  top: 62%;
  transform: translate(-50%, -50%);
}

#manager_btn1 {
  position: absolute;
  bottom: 5%;
  right: 5%;
  color: #2a7745;
}

#manager_num2 {
  position: relative;
  background-image: url("../img/manager_background-04.jpg");
  background-position: center center;
  height: 100lvh;
  width: 100lvw;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}

#manager_question2 {
  position: absolute;
  left: 50%;
  top: 62%;
  transform: translate(-50%, -50%);
}

#manager_btn2 {
  position: absolute;
  bottom: 5%;
  right: 5%;
  color: #2a7745;
}

#manager_num3 {
  position: relative;
  background-image: url("../img/manager_background-05.jpg");
  background-position: center center;
  height: 100lvh;
  width: 100lvw;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}

#manager_question3 {
  position: absolute;
  left: 50%;
  top: 62%;
  transform: translate(-50%, -50%);
}

#manager_btn3 {
  position: absolute;
  bottom: 5%;
  right: 5%;
  color: #2a7745;
}

#manager_num4 {
  position: relative;
  background-image: url("../img/manager_background-06.jpg");
  background-position: center center;
  height: 100lvh;
  width: 100lvw;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}

#manager_question4 {
  position: absolute;
  left: 50%;
  top: 62%;
  transform: translate(-50%, -50%);
}

#manager_btn4 {
  position: absolute;
  bottom: 5%;
  right: 5%;
  color: #2a7745;
}


#family_num1 {
  position: relative;
  background-image: url("../img/family_background-03.jpg");
  background-position: center center;
  height: 100lvh;
  width: 100lvw;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}

#family_question1 {
  position: absolute;
  left: 50%;
  top: 65%;
  transform: translate(-50%, -50%);
}

#family_question1 [type="radio"]{
  vertical-align: middle;
  appearance: none;
  background-color: #C79664;
  border-radius: 50%;
  width: 3.5em;
  height: 3.5em;
}

#family_question1 label {
  font-family: "Hahmlet";
  font-size: 20px;
  color: #E8E4D6;
  line-height: 3rem;
  padding: 0.2em 0.4em;
}

#family_question1 [type="radio"], span {
  vertical-align: middle;
}

#family_question1 [type="radio"]:checked {
  background-image: url(../img/check3.png);
  background-size: cover;
}

#family_question1 [type="radio"]:focus-visible {
  outline-offset: max(2px, 0.1em);
  outline: max(2px, 0.1em) dotted rgba(126, 194, 155, .7);
}

#family_question1 [type="radio"]:hover {
  box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
  cursor: pointer;
}

#family_question1 [type="radio"]:hover + span {
  cursor: pointer;
}

#family_question1 [type="radio"]:disabled {
  background-color: lightgray;
  box-shadow: none;
  opacity: 0.7;
  cursor: not-allowed;
}

#family_question1 [type="radio"]:disabled + span {
  opacity: 0.7;
  cursor: not-allowed;
}

#family_btn1 {
  position: absolute;
  bottom: 5%;
  right: 5%;
  color: #2a7745;
}

#family_num2 {
  position: relative;
  background-image: url("../img/family_background-04.jpg");
  background-position: center center;
  height: 100lvh;
  width: 100lvw;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}

#family_question2 {
  position: absolute;
  left: 50%;
  top: 61%;
  transform: translate(-50%, -50%);
}

#family_question2 [type="radio"]{
  vertical-align: middle;
  appearance: none;
  background-color: #C79664;
  border-radius: 50%;
  width: 3.5em;
  height: 3.5em;
}

#family_question2 label {
  font-family: "Hahmlet";
  font-size: 20px;
  color: #E8E4D6;
  line-height: 3rem;
  padding: 0.2em 0.4em;
}

#family_question2 [type="radio"], span {
  vertical-align: middle;
}

#family_question2 [type="radio"]:checked {
  background-image: url(../img/check3.png);
  background-size: cover;
}

#family_question2 [type="radio"]:focus-visible {
  outline-offset: max(2px, 0.1em);
  outline: max(2px, 0.1em) dotted rgba(126, 194, 155, .7);
}

#family_question2 [type="radio"]:hover {
  box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
  cursor: pointer;
}

#family_question2 [type="radio"]:hover + span {
  cursor: pointer;
}

#family_question2 [type="radio"]:disabled {
  background-color: lightgray;
  box-shadow: none;
  opacity: 0.7;
  cursor: not-allowed;
}

#family_question2 [type="radio"]:disabled + span {
  opacity: 0.7;
  cursor: not-allowed;
}

#family_btn2 {
  position: absolute;
  bottom: 5%;
  right: 5%;
  color: #2a7745;
}

#family_num3 {
  position: relative;
  background-image: url("../img/family_background-05.jpg");
  background-position: center center;
  height: 100lvh;
  width: 100lvw;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}

#family_question3 {
  position: absolute;
  left: 50%;
  top: 62%;
  transform: translate(-50%, -50%);
}

#family_btn3 {
  position: absolute;
  bottom: 5%;
  right: 5%;
  color: #2a7745;
}

#family_num4 {
  position: relative;
  background-image: url("../img/family_background-06.jpg");
  background-position: center center;
  height: 100lvh;
  width: 100lvw;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}

#family_question4 {
  position: absolute;
  left: 50%;
  top: 62%;
  transform: translate(-50%, -50%);
}

#family_btn4 {
  position: absolute;
  bottom: 5%;
  right: 5%;
  color: #2a7745;
}

#family_num5 {
  position: relative;
  background-image: url("../img/family_background-07.jpg");
  background-position: center center;
  height: 100lvh;
  width: 100lvw;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}

#family_question5 {
  position: absolute;
  left: 50%;
  top: 62%;
  transform: translate(-50%, -50%);
}

#family_btn5 {
  position: absolute;
  bottom: 5%;
  right: 5%;
  color: #2a7745;
}


#letter {
  position: relative;
  background-image: url("../img/letter_image2.jpg");
  background-position: center center;
  height: 100lvh;
  width: 100lvw;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}

#letter_alert {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#letter_alert h1 {
  font-family: "Hahmlet";
  font-size: 35px;
  color: #000;
}

#reciever {
  position: absolute;
  top: 74%;
  left: 43%;
  transform: translate(-50%, -50%);
}

#reciever h3 {
  font-family: "Hahmlet";
  font-size: 25px;
  color: #000;
}

#btn_last {
  position: absolute;
  bottom: 5%;
  right: 5%;
  color: #2a7745;
}


#letter_from_god {
  background-image: url("../img/fianl_result1.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

/*input text box*/
input {
  width: 100%;
  padding: 10px 20px;
  margin: 5px 0;
  box-sizing: border-box;
}

input[type="text"] {
  border: solid 2px #FFE4B5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

form input[type="text"] {
  width:800px;
  background-image: url("../img/input_background.png");
  background-size: cover;
  border: none;
}

input[type="text"]:focus {
  border: solid 2px #000;
}

/* 3D Button */
.btn {
  position: relative;
  border: none;
  display: inline-block;
  padding: 10px 30px;
  border: 3px solid #2a7745;
  border-radius: 15px;
  font-family: "Hahmlet";
  background-color: #fff2dc;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
}

.btn-outline {
  position: relative;
  padding: 15px 30px;
  border-radius: 15px;
  font-family: "Hahmlet";
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
}

.btn:hover {
  letter-spacing: 2px;
  transform: scale(1.2);
  cursor: pointer;
}

.btn:active {
  transform: scale(1.5);
}


/* video background */
#background-video {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  z-index: -1;
  background: url(../img/soil_background.png) no-repeat;
  background-size: cover;
}

